html, body { height: 100%; margin: 0; padding: 0; color: #000;}
#bg {position:fixed; top:0; left:0; width:100%; height:100%;}
#content {position:relative; z-index:1; top:100px; margin-left:auto;margin-right:auto;}
img.thumb {border : solid 5px #3c2f10;}
img.thumb:hover {border : solid 5px white;}
a {color: white;  font-style : italic;  text-decoration : none;   }
a:hover {color: white;  font-style : italic;  text-decoration : underline;   }

.text {	background-color : #3c2f10; color: white; }
.text2 {	background-color : Black; color: white;} 